<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>On | Emit | Broadcast</title>

    <script src="../libs/angular.min.js"></script>
</head>

<body>   
    <div ng-app="myApp">
        <div ng-controller="ParentController">
           <button ng-click="emitParent()">Emit P</button>
           <button ng-click="broadcastParent()">Broadcast P</button>
            {{parentMsg}}
            <div ng-controller="ChildController1">
               <button ng-click="emitChild()">Emit C</button>
                {{childMsg}}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        myApp.controller('ParentController', function ($scope){
            $scope.$on('event', function (event, data){
                $scope.parentMsg = data;
            });
            
            $scope.emitParent = function () {
                $scope.$emit('event', "Emit from Parent");
            };   
            
            $scope.broadcastParent = function () {
                $scope.$broadcast('event', "Broadcast from Parent");
            };
            
        })
        
        myApp.controller('ChildController1', function ($scope){
            $scope.$on('event', function (event, data){
                $scope.childMsg = data;
            });
            
            $scope.emitChild = function () {
                $scope.$emit('event', "Event from child");
            };
        })
    </script>
</body>


</html>